<link rel='app/assests/stylesheets/css/index.css'>
<script defer src="app/assets/javascripts/jsfiles/index.js"></script>

<h1>Gemstone</h1>
<h2>The best website for winning at arena in Hearthstone</h2>
