h1 {
    color: #bb0a1e;
    text-align: center;
    display: flex;
    text-align: center;
    justify-content: center;
}

h2 {
    display: flex;
    text-align: center;
    justify-content: center;
}